// 在 smslog_collector_config.json 中设置配置信息，覆盖本文件中给出的默认设置
{
    // nwpc_log_agent 的主机地址和端口号
    "nwpc_log_agent_host": "10.28.32.175",
    "nwpc_log_agent_port": "5001",

    // 每次上传日志的最大条目数
    "post_max_count": 1000
}